@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap') format('woff2');
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

.constructor {
  background: #f9c7c2;
  padding: 20px 0;
  width: 100%;
}

.constructor__title {
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
}

.constructor__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.constructor__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.constructor__selectors {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.constructor__subtitle {
  text-transform: uppercase;
  font-size: 14px;
}

.constructor__selector-area {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  width: 150px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 5px #807182;
  user-select: none;
}

.constructor__selector-options {
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 100%;
  background: #fff;
  left: 0;
  padding: 0px;
  list-style: none;
  border-radius: 0 0 5px 5px;
  margin: 17px 0px;
  box-shadow: 0 5px 4px #807182;
  overflow: hidden;
  animation: options-list-appear 0.2s linear 1;
  animation-fill-mode: both;
  user-select: none;
}

@keyframes options-list-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes options-item-appear {
  0% {
    padding: 0 7px;
  }
  100% {
    padding: 7px;
  }
}

.constructor__selector-icon {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(225deg);
  transition: all 0.3s linear;
}

.constructor__selector-icon--opened {
  transform: rotate(45deg);
}

.constructor__checklist-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
}

.constructor__checklist-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px #807182;
}

.constructor__checklist {
  flex: 0 0 40%;
}

.constructor__checklist-title-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.constructor__checklist-title {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.constructor__checklist-title--berries::after {
  position: absolute;
  top: -5px;
  left: -11px;
  content: '';
  width: 30px;
  height: 30px;
  background: url('https://www.flaticon.com/svg/static/icons/svg/851/851337.svg') center center no-repeat;
  background-size: contain;
}

.constructor__checklist-title--decor::after {
  position: absolute;
  top: -5px;
  left: -11px;
  content: '';
  width: 30px;
  height: 30px;
  background: url('https://www.flaticon.com/svg/static/icons/svg/2913/2913895.svg') center center no-repeat;
  background-size: contain;
}

@media (max-width: 372px) {
  .constructor__checklist-title--berries::after {
    left: 11px;
  }
}

.constructor__extra-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 7px;
  background-color: #f2877c;
  box-shadow: 0 0 5px #807182;
  border-radius: 10px;
}

@media (max-width: 714px) {
  .constructor__extra-options {
    margin-top: 15px;
  }
}

.constructor__extra-options .constructor__subtitle {
  margin: 7px;
}

.constructor__extra-options .constructor__selector-group:not(:last-child) {
  margin-right: 20px;
}

.constructor__checklist-box {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.constructor__checklist-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0px;
  width: 0px;
}

.constructor__custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(226, 226, 226);
  border-radius: 4px;
}

.constructor__checklist-box:hover input~.constructor__custom-checkbox {
  background-color: #ccc;
}

.constructor__checklist-box input:checked~.constructor__custom-checkbox {
  background-color: #807182;
}

.constructor__custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.constructor__checklist-box input:checked~.constructor__custom-checkbox:after {
  display: block;
}

.constructor__checklist-box .constructor__custom-checkbox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.constructor__subtitle {
  font-size: 16px;
}

.constructor__button {
  border: none;
  background-color: #f2877c;
  padding: 15px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px #807182;
  font-size: 18px;
  transition: all 0.2s linear;
}

.constructor__button:hover {
  background-color: #f49c93;
  box-shadow: 0 0 10px #352f36;
}

@media (max-width: 474px) {
  .constructor__extra-options .constructor__selector-group:not(:last-child) {
    margin-right: 0px;
  }
}

@media (max-width: 650px) {
  .constructor__checklist-group {
    justify-content: space-between;
  }
}

.constructor__selector-option {
  text-align: center;
  padding: 7px;
  transition: all 0.1s linear;
  animation: options-item-appear 0.2s linear 1;
  animation-fill-mode: both;
}

.constructor__selector-option:hover {
  background-color: #f2877c;
  cursor: pointer;
  user-select: none;
}

.constructor__window {
  background-color: #fff;
  box-shadow: 0 0 5px #807182;
  border-radius: 10px;
  width: 70%;
  margin-top: 20px;
  padding: 20px
}

.constructor__cake-tire {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.constructor__cake-tire:before {
  content: '';
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
  z-index: 17;
}

.constructor__cake-tire:after {
  content: '';
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5));
  z-index: 17;
}

.constructor__cake {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
}

.cake-tire--1 {
  width: 500px;
  margin: 0;
}

.cake-tire--2 {
  width: 400px;
  margin: 0;
}

.cake-tire--3 {
  width: 300px;
  margin: 0;
}

.constructor__cake-layer {
  content: '';
  height: 20px;
  width: 100%;
  animation: layer-appearance 0.3s linear 1;
  animation-fill-mode: both;
}

@keyframes layer-appearance {
  0% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}

@keyframes layer-appearance-adaptive {
  0% {
    height: 0;
  }
  100% {
    height: 10px;
  }
}

@media (max-width: 800px) {
  .cake-tire--1 {
    width: 100%;
  }
  .cake-tire--2 {
    width: 80%;
  }
  .cake-tire--3 {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .constructor__cake-layer {
    animation: layer-appearance-adaptive 0.3s linear 1;
    height: 10px;
  }
}

.cake-layer--vanilla {
    background: #d9ab5e;
}

.cake-layer--chococream {
    background: #8a5742;
}

.cake-layer--chocolate {
    background: #3b2726;
}

.cake-layer--marble {
    background: linear-gradient(2deg, #d9ab5e 50%, #3b2726 60%);
}

.cake-layer--honey {
    background: #ee9d48;
}

.cake-layer--cheese {
    background: #fcf4b5;
}

.cake-layer--white {
    background: #f3f0e7;
}

.constructor__cake-cover {
  position: absolute;
  width: 50%;
  height: 100%;
  animation: cover-appearance 0.2s linear 1;
  animation-fill-mode: both;
  z-index: 2;
}

.constructor__cake-topping {
  position: absolute;
  width: 100%;
  height: 50%;
  animation: cover-appearance 0.2s linear 1;
  animation-fill-mode: both;
  z-index: 3;
}

@keyframes cover-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cake-cover--white {
  background: #f3f0e7;
  border-width: 4px 0 4px 4px;
  border-color: #dbd4bd;
  border-style: solid;
  border-radius: 10px 0 0 10px;
}

.cake-cover--chococream {
  background: #8a5742;
  border-width: 4px 0 4px 4px;
  border-color: #6e493a;
  border-style: solid;
  border-radius: 10px 0 0 10px;
}

.cake-cover--cheese {
  background: #fcf4b5;
  border-width: 4px 0 4px 4px;
  border-color: #d7d098;
  border-style: solid;
  border-radius: 10px 0 0 10px;
}

.cake-topping--white {
  background: url(https://i.ibb.co/2KF3s1R/white.png) repeat top/contain;
}

.cake-topping--caramel {
  background: url(https://i.ibb.co/5vQ2jBq/caramel.png) repeat top/contain;
}

.cake-topping--maple {
  background: url(https://i.ibb.co/BcLrKdg/maple.png) repeat top/contain;
}

.constructor__cake-top {
  order: 1;
  content: '';
  height: 20px;
  margin-bottom: -5px;
  width: 100%;
  position: relative;
  z-index: 14;
}

.top--1 {
  width: 480px;
}

.top--2 {
  width: 380px;
}

.top--3 {
  width: 280px;
}

@media (max-width: 800px) {
  .top--1 {
    width: 100%;
  }
  .top--2 {
    width: 80%;
  }
  .top--3 {
    width: 60%;
    transform: scale(0.9);
  }
}

.constructor__cake-berries {
  order: 1;
  content: '';
  height: 40px;
  width: 94%;
  position: absolute;
  z-index: 1;
  bottom: 2px;
  border-radius: 20px;
  margin: 0 -47%;
  right: 50%;
  animation: cover-appearance 0.2s linear 1;
}

.cake-berries--strawberry {
  background: url(https://i.ibb.co/J2WP10j/image.png) repeat bottom/contain;
  background-size: 150px;
  bottom: 5px;
}

.cake-berries--raspberry {
  background: url(https://i.ibb.co/tBpDzDr/image.png) repeat bottom/contain;
  background-size: 150px;
  bottom: 3px;
  border-radius: 10px;
}

.cake-berries--blackberry {
  background: url(https://i.ibb.co/Tt1rPnK/image.png) repeat bottom/contain;
  background-size: 150px;
  bottom: 3px;
}

.cake-berries--blueberry {
  background: url(https://i.ibb.co/7RPX90f/image.png) repeat bottom/contain;
  background-size: 150px;
  bottom: -2px;
}

.constructor__window-tile {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.window-title--opened {
  margin-bottom: 40px;
}

.constructor__cake-decor {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 16;
  animation: cover-appearance 0.2s linear 1;
  animation-fill-mode: both;
}

.cake-topping--marshmello {
  background: url(https://i.ibb.co/bNL9cSm/marshmello.png) repeat center/contain;
}

.cake-topping--merengue {
  background: url(https://i.ibb.co/NjvrTcj/merengue.png) repeat center/contain;
}

.cake-topping--chocolate {
  background: url(https://i.ibb.co/g3GpknS/chocolate-chips.png) repeat center/contain;
}

.cake-topping--cookies {
  background: url(https://i.ibb.co/HCY8Qfg/cookies.png) repeat center/contain;
}