* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  min-width: 320px;
  color: black;
}

.constructor {
  background: #f9c7c2;
  padding: 20px 0;
  border-radius: 50px;
  width: 100%;
}

.constructor__title {
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
}

.constructor__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.constructor__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.constructor__selectors {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.constructor__subtitle {
  text-transform: uppercase;
  font-size: 14px;
}

.constructor__selector-area {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  width: 150px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 5px #807182;
}

.constructor__selector-options {
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 100%;
  background: #fff;
  left: 0;
  padding: 15px;
  list-style: none;
  border-radius: 0 0 5px 5px;
}

.constructor__selector-icon {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(225deg);
  transition: all 0.3s linear;
}

.constructor__selector-icon--opened {
  transform: rotate(45deg);
}

.constructor__checklist-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
}

.constructor__checklist-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px #807182;
}

.constructor__checklist {
  flex: 0 0 40%;
}

.constructor__checklist-box:not(:last-child) {
  margin-right: 15px;
}

.constructor__checklist-title {
  display: block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.constructor__extra-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.constructor__extra-options .constructor__selector-group:not(:last-child) {
  margin-right: 20px;
}

.constructor__checklist-box {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.constructor__checklist-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0px;
  width: 0px;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(226, 226, 226);
  border-radius: 4px;
}

.constructor__checklist-box:hover input ~ .custom-checkbox {
  background-color: #ccc;
}

.constructor__checklist-box input:checked ~ .custom-checkbox {
  background-color: #807182;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.constructor__checklist-box input:checked ~ .custom-checkbox:after {
  display: block;
}

.constructor__checklist-box .custom-checkbox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.constructor__subtitle {
  font-size: 16px;
}

.constructor__button {
  border: none;
  background-color: #f2877c;
  padding: 15px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px #807182;
  font-size: 18px;

  transition: all 0.2s linear;
}

.constructor__button:hover {
  background-color: #f49c93;
  box-shadow: 0 0 10px #352f36;
}

@media (max-width: 474px) {
  .constructor__extra-options .constructor__selector-group:not(:last-child) {
    margin-right: 0px;
  }
}