<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>For You. For Home.</title>
    <link rel="stylesheet" href="pages/main.css" />
  </head>
  <body>
    <!-- START HEADER -->
    <header class="header root">
      <!-- HEADER PART WITH LOGO AND ICONS -->
      <div class="header__top">
        <ul class="icons icons__search">
          <a class="icons__elem_bag" href="#" type="button">
            <img
              class="icons__elem_ico"
              src="./assets/images/svg/search.svg"
              alt=""
            />
          </a>
        </ul>

        <div id="logo">
          <a class="logo" href="#"> HOME&YOU </a>
        </div>

        <ul class="icons">
          <li class="icons__elem">
            <a class="icons__elem_bag" href="#" type="button">
              <img
                class="icons__elem_ico"
                src="./assets/images/svg/user.svg"
                alt=""
              />
            </a>
          </li>
          <li class="icons__elem">
            <a class="icons__elem_bag" href="#" type="button">
              <img
                class="icons__elem_ico"
                src="./assets/images/svg/bag.svg"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
      <!-- END HEADER PART WITH LOGO AND ICONS -->

      <!-- NAVIGATE -->
      <nav class="nav header__nav">
        <ul class="nav__list header__nav__list">
          <li class="nav__list__elem header__nav__list__elem">
            <a href="#">Магазин</a>
          </li>
          <li class="nav__list__elem header__nav__list__elem">
            <a href="#">Фото</a>
          </li>
          <li class="nav__list__elem header__nav__list__elem">
            <a href="#">Блог</a>
          </li>
          <li class="nav__list__elem header__nav__list__elem">
            <a href="#">О нас</a>
          </li>
          <li class="nav__list__elem header__nav__list__elem">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <!-- END NAVIGATE -->
    </header>
    <!-- END HEADER -->
    <main class="main">
      <div class="banner">
        <div class="banner__content">
          <p class="banner__content_subtitle">
            Interrior for love. Interrior for Home
          </p>
          <h1 class="banner__content_title">
            Простые и стильные аксессуры для вашего дома
          </h1>
          <a href="/catalog" class="banner__content_link">Перейти в каталог</a>
        </div>
      </div>
    </main>

    <footer></footer>

    <!-- FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/99e40d02fc.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
