@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');



#home > div.wrapper.wrapper-closed > div.content-area > section > div > h2 > span {
    font-family: 'Montserrat Alternates', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
}


span, p, a, h1, h2, h4, h6 {
    font-family: 'Montserrat Alternates', sans-serif !important;
    font-size: 14px;
    font-weight: 600;
}


#home > div.wrapper.wrapper-closed > div > div > div.position-relative > div > span:nth-child(2) > picture > img {
    position: relative;
    top: -127px;
}

#home > div.wrapper.wrapper-closed > header > div.header-wrapper > div.container-fluid > div.logo {
    margin-bottom: 20px;
}


body.common-home header.header .header-wrapper {
    background: transparent !important;
}

body.theme_10 .wrapper header.header .header-wrapper {
    background: #24262a;

}

.header .header-wrapper .mobile-navigation-wrapper a {
    color: #ebebeb;
}

.header-cart .cart-wrapper #cart,
.wrapper .header .header-search button {
    color: #000;
}

#home > div.wrapper.wrapper-closed > header > div.header-wrapper > div > div.header-cart.sticky > div {
    margin-right: 50px;
}

.main-slider .caption-content {
    max-width: 500px;
    margin: 0 0 0 auto;
    text-align: left;
    position: absolute;
    top: 50px;
}

#banner0 > div > div > div > div > div > div > div > div > div > h3 > span {
    font-size: 50px !important;
}

@media (max-width: 992px) {
    #home > div.wrapper.wrapper-closed > header > div.header-wrapper > div > div.header-cart.sticky > div {
        margin: 0;
    }
}

#search > div.search_field > input,
#home > div.wrapper.wrapper-closed > header > div.header-wrapper > div > div.header-cart.sticky > div,
body.theme_10 .common-home .header .header-wrapper {
    background: 0;
}

.body.theme_10 .wrapper header.header .header-search input:placeholder {
    color: white !important;
}


.icon-user > a > span {
    display: none;
}

.fa-envelope  + span {
    display: none;
}

.copyright_row {
    display:none !important;
}

.map__list {
    list-style-type: none !important;
}

.map__brunch {
    position: relative;
    padding: 8px 0;
}

.map__brunch > a {
    border: 2px solid #232323;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 5px;
}

.map__brunch > a:hover {
    background: #232323;
    color: #ffffff !important;
}

.map__arrow {
    position: absolute;
    top: 15px;
    left: -30px;
    border: 10px solid transparent;
    border-top: 10px solid #232323;
    cursor: pointer;
    transition: all 0.3s;
}

.map__arrow:hover {
    border-top: 10px solid #232323;
}

.map__sublist-hidden {
    display: none;
}

.map__sublist {
    padding: 0 10px;
    margin: 10px 0 0 0;
}

.copyright_row {
    display:none !important;
}


@media (max-width: 450px) {
    #sellavi_logo {
        margin: 10px auto 0;
    }
}

.requisites {
    width: 80vw !important;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    list-style: none;
}

.requisites strong {
    margin-right: 5px;
}

.requisite {
    padding-top: 65px;
    position: relative;
    border-top: 1px solid #e9e9e9;
}

.requisite > li {
    margin-left: 55px;
}

.requisite::after {
    content: "i";
    position: absolute;
    top: 25px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d3d3d3;
    color: #ffffff;
    font-size: 30px;
    padding: 0 0 10px 16px;
    line-height: 40px;
}

.requisite__title {
    position: absolute;
    top: 25px;
    left: 0;
    font-family: Hauss, san-serif;
    font-weight: bolder;
}

footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul {
    display: flex;
    flex-direction: column;
}

footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li:nth-child(1) {
    order: 1;
}

footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li:nth-child(2) {
    order: 3;
}

footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li:nth-child(3) {
    order: 4;
}

footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li:nth-child(4) {
    order: 2;
}

footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li:nth-child(5) {
    order: 5;
}

footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li:nth-child(6) {
    order: 6;
}

.footer .footer-meta {
    padding: 15px 0 !important;
}

.footer_content_container {
    height: 25px;
    display: flex;

}

.footer_content_text::after {
    display: none !important;
}

.footer .copyright_row {
    display: none;
}

.footer_content_text {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.footer .footer-meta {
    padding: 15px 0 !important;
}

.footer_content_container {
    height: 25px;
    display: flex;

}

.footer_content_text::after {
    display: none !important;
}

.footer .copyright_row {
    display: none;
}

.footer_content_text {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

@media (max-width: 450px) {
    #sellavi_logo {
        margin: 10px auto 0 auto;
    }

    footer>div.footer-meta>div {
        padding-left: 0px;
    }
}

.footer_content_text img {
    margin: 0 5px !important;
    height: 100%;
}

body footer .footer-meta .footer_content_wrapper {
    margin: 0;
    padding: 0;
}


@keyframes arrow {
    0% { top: 30vh}
    50% { top: 27vh; }
    0% { top: 30vh}
}

.arrow {
    border: 35px solid transparent;
    border-top: 35px solid #f2f2f2 !important;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 30vh;
    left: 50%;
    z-index: 1000000;
    margin: -10px;
    cursor: pointer;
    transition: all 0.3s;
    animation-duration: 1s;
    animation-name: arrow;
    animation-iteration-count: infinite;

}

.arrow:hover {
    border-top: 35px solid #ea3d4e !important;
}

@media (max-width: 1024px) {
    .arrow {
        display: none;
    }
}



.gallery {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 50px 0;
}

@keyframes galleryItem {
    0% { opacity: 0}
    100% {opacity: 1}
}

.gallery__item {
    width: 300px;
    height: 300px;
    animation-duration: 1s;
    animation-name:  galleryItem;
    animation-iteration-count: 1;
}

.gallery__cover {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.gallery__arrow {
    border: solid #000000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.gallery__arrow:hover {
    border: solid #6c757d;
    border-width: 0 3px 3px 0;
}

.gallery__arrow--disabled {
    border: solid #8699a4;
    border-width: 0 3px 3px 0;
}

.gallery__arrow--disabled:hover {
    border: solid #8699a4;
    border-width: 0 3px 3px 0;
}

.gallery__link {
    text-decoration: none;
    color: #232323;
}

.gallery__title {
    margin: 20px;
}

.gallery__price {
    font-weight: 400;
}

@media (max-width: 1080px) {
    .gallery__arrow {
        width: 50px;
        height: 50px;
    }
    .gallery__arrow:hover {
        border: solid #000000;
        border-width: 0 3px 3px 0;
    }

    .gallery__item {
        width: auto;
    }

}

@media (max-width: 500px) {
    .gallery__cover {
        width: 150px;
        height: 150px;
    }
}