.row {
    justify-content: space-around;
    align-items: center;
}

.custom-categories__item {
    position: relative;
    border: 1px solid #000000;
    margin: 5px;
    margin-top: 15px;
    max-width: 320px;
    width: 300px;
    height: 150px;
    transition: box-shadow 0.2s ease-in-out;
}

.custom-categories__item:hover {
    box-shadow: 0px 0px 5px #000;
}

.custom-categories__title {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    color: black;
    background: rgba(0,0, 0, 0.2);
}

.custom-categories__title-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body#home .homefeatured_category .row {
    margin-top: 10px;
}