.header__nav-mobile__list {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: calc(100% - 5% * 2);
    background: white;
    padding: 2% 5%;
    position: relative;
}

.header__nav-mobile__list_elem {
    width: 100%;
}

.header__nav-mobile__list_elem-logo {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}