.footer .footer-widgets .container .row {
  justify-content: space-between;
}

body .footer .footer-widgets .widget-title {
  margin-top: 25px;
  padding-bottom: 10px;
}

h4, h2 {
  height: auto !important;
  min-height: 28px !important;
  line-height: 1.2 !important;
  overflow: auto !important;
}