.partners-info__title {
  text-align: center;
}

.partners-info__list {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  height: 100px;
}



.partners-info__item {
  min-width: 100px;
  margin: 0 50px;
  animation: appearance 0.3s linear 1;
  animation-fill-mode: both;
}



@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.partners-info__img {
  width: 100px;
}

@media (max-width: 544px) {
  .partners-info__item {
    min-width: 50px;
    margin: 0 10px;
  }
  .partners-info__img {
    width: 50px;
  }
}